{% extends 'base.html' %}

<h1>{% block title %} Video Catalogue {% endblock %}</h1>

{% block content %}
<div class="container" id="channel-list">
    <div class="container"  id="channel">
    <div class="row"><h2>Gurudev Gallery<h2></div>
        
        <div class="row text-wrap"><p class="font-weight-light text-muted">This is the official YouTube channel of Gurudev Sri Sri Ravi Shankar.\n\nGurudev is a humanitarian and spiritual leader, an ambassador of peace and human values. Through his life and work, Gurudev has inspired millions around the world with a vision of a stress-free world. He has founded courses that provide techniques and tools to live a deeper, more joyous life and he has established nonprofit organisations that recognise a common human identity above the boundaries of race, nationality, and religion.\n\nKnow more: https://gurudev.artofliving.org/</p></div>
        
        <div class="row row-cols-1" id="video-category"><h4><small class="text-muted">Popular Videos</small></h4></div>
        
        <div class="row row-cols-5 d-flex flex-nowrap overflow-x-auto pb-3" id="video-row">
           
            <div class="col bg-light pe-0.5 me-0.5" id="video-col">
                <div class="row" ><iframe src="https://www.youtube.com/embed/GfpzxQMfEJA?ecver=2&enablejsapi=1" width="300" height="130" frameborder='0' 
        allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' ></iframe></div>
                <div class="row">
                    <div class="col bg-light"><h6><small class="text-muted">view 22345</small></h6></div>
                    <div class="col"></div>
                    
                    <div class="col bg-light"><h6><small class="text-muted">likes 2345</small></h6></div>
                </div>
            </div>

            <div class="col bg-light pe-0.5 me-0.5" id="video-col">
                <div class="row" ><iframe src="https://www.youtube.com/embed/c1A4rSvQR44?ecver=2&enablejsapi=1" width="300" height="130" frameborder='0' 
        allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' ></iframe></div>
                <div class="row ">
                    <div class="col bg-light"><h6><small class="text-muted">view 100</small></h6></div>
                    <div class="col"></div>
                    
                    <div class="col bg-light"><h6><small class="text-muted">likes 2345789</small></h6></div>
                </div>
            </div>

            <div class="col bg-light pe-0.5 me-0.5" id="video-col">
                <div class="row" id="player"><iframe src="https://www.youtube.com/embed/vI57g-iGPlY?ecver=2&enablejsapi=1" width="300" height="130" frameborder='0' 
        allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' ></iframe></div>
                <div class="row ">
                    <div class="col bg-light padding-left-0"><h6><small class="text-muted">view 6789543</small></h6></div>
                    <div class="col"></div>
                    
                    <div class="col bg-light padding-right-0"><h6><small class="text-muted">likes 1238</small></h6></div>
                </div>
            </div>

            <div class="col bg-light pe-1" id="video-col">
                <div class="row"><iframe src="https://www.youtube.com/embed/GfpzxQMfEJA?ecver=2&enablejsapi=1" width="300" height="130" frameborder='0' 
        allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' ></iframe></div>
                <div class="row ">
                    <div class="col bg-light padding-left-0"><h6><small class="text-muted">view 22345</small></h6></div>
                    <div class="col"></div>
                    
                    <div class="col bg-light padding-right-0"><h6><small class="text-muted">likes 2345</small></h6></div>
                </div>
            </div>

            <div class="col bg-light pe-1" id="video-col">
                <div class="row"><iframe src="https://www.youtube.com/embed/ZToicYcHIOU?ecver=2&enablejsapi=1" width="300" height="130" frameborder='0' 
        allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' ></iframe></div>
                <div class="row ">
                    <div class="col bg-light padding-left-0"><h6><small class="text-muted">view 22345</small></h6></div>
                    <div class="col"></div>
                    
                    <div class="col bg-light padding-right-0"><h6><small class="text-muted">likes 2345</small></h6></div>
                </div>
            </div>

<div class="col bg-light pe-1" id="video-col">
                <div class="row"><iframe src="https://www.youtube.com/embed/ZToicYcHIOU?ecver=2&enablejsapi=1" width="300" height="130" frameborder='0' 
        allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' ></iframe></div>
                <div class="row ">
                    <div class="col bg-light padding-left-0"><h6><small class="text-muted">view 22345</small></h6></div>
                    <div class="col"></div>
                    
                    <div class="col bg-light padding-right-0"><h6><small class="text-muted">likes 2345</small></h6></div>
                </div>
            </div>



        </div>
        
        <div class="row"><br/></div>
        <div class="row"><hr/></div>
    </div>

<div class="container" id="channel">
    <div class="row"><h2>Gurudev Gallery 2<h2></div>
        
        <div class="row text-wrap"><p class="font-weight-light text-muted">This is the official YouTube channel of Gurudev Sri Sri Ravi Shankar.\n\nGurudev is a humanitarian and spiritual leader, an ambassador of peace and human values. Through his life and work, Gurudev has inspired millions around the world with a vision of a stress-free world. He has founded courses that provide techniques and tools to live a deeper, more joyous life and he has established nonprofit organisations that recognise a common human identity above the boundaries of race, nationality, and religion.\n\nKnow more: https://gurudev.artofliving.org/</p></div>
        
        <div class="row row-col-1" id="video-category"><h4><small class="text-muted">Meditation Videos</small></h4></div>
        
        <div class="row d-flex flex-nowrap overflow-x-auto pb-4" id="video-row">
           
            <div class="col-3 bg-light pt-1" id="video-col">
                <div class="row"><iframe src="https://www.youtube.com/embed/GfpzxQMfEJA?ecver=2&enablejsapi=1" frameborder='0' boder-radius='10px' 
        allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe></div>
                <div class="row ">
                    <div class="col bg-light padding-left-0"><h6><small class="text-muted">view 22345</small></h6></div>
                    <div class="col"></div>
                    
                    <div class="col bg-light padding-right-0"><h6><small class="text-muted">likes 2345</small></h6></div>
                </div>
            </div>

            <div class="col-3 bg-light pt-1" id="video-col">
                <div class="row"><iframe src="https://www.youtube.com/embed/c1A4rSvQR44?ecver=2&enablejsapi=1" frameborder='0' boder-radius='10px' 
        allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe></div>
                <div class="row ">
                    <div class="col bg-light padding-left-0"><h6><small class="text-muted">view 100</small></h6></div>
                    <div class="col"></div>
                    
                    <div class="col bg-light padding-right-0"><h6><small class="text-muted">likes 2345789</small></h6></div>
                </div>
            </div>

            <div class="col-3 bg-light pt-1" id="video-col">
                <div class="row"><iframe src="https://www.youtube.com/embed/vI57g-iGPlY?ecver=2&enablejsapi=1" frameborder='0' 
        allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' ></iframe></div>
                <div class="row ">
                    <div class="col bg-light padding-left-0"><h6><small class="text-muted">view 6789543</small></h6></div>
                    <div class="col"></div>
                    
                    <div class="col bg-light padding-right-0"><h6><small class="text-muted">likes 1238</small></h6></div>
                </div>
            </div>

            <div class="col-3 bg-light pt-1" id="video-col">
                <div class="row"><iframe src="https://www.youtube.com/embed/GfpzxQMfEJA?ecver=2&enablejsapi=1" frameborder='0' 
        allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' ></iframe></div>
                <div class="row ">
                    <div class="col bg-light padding-left-0"><h6><small class="text-muted">view 22345</small></h6></div>
                    <div class="col"></div>
                    
                    <div class="col bg-light padding-right-0"><h6><small class="text-muted">likes 2345</small></h6></div>
                </div>
            </div>


        </div>
        
        <div class="row"><br/></div>
        <div class="row"><hr/></div>
    </div>


</div>

{% endblock %}

